---
layout: splash
type: center
title: Staples Coding Club
author_profile: true
permalink: /
classes:
    - landing
header:
    overlay_image: ../assets/images/paul-frenzel.jpg
    caption: "Photo credit: [**Paul Frenzel**](https://unsplash.com/photos/MnHQMzC6n-o)"
    overlay_filter: rgba(0, 0, 50, 0.5)
    cta_label: "Sign-Up Form"
    cta_url: "https://forms.gle/8WdgmNM6hj4kXf9u5"

intro: 
    - image_path: ../assets/images/poster2022.png
      title: "Join today!"
      url: events
      btn_label: "Details"
      btn_class: "btn--primary"
feature_row:
    - image_path: ../assets/images/objdetect.png
      title: "Machine Learning"
      excerpt: "Applying machine learning in fun projects!"

    - image_path: ../assets/images/usaco.png
      title: "Advanced Algorithms"
      excerpt: "Exercise your mind!"

    - image_path: ../assets/images/marvin-meyer.jpg
      title: "Compete together!"
      excerpt: "Work together to further your interests!"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}